<div id="comments" class="comments-area">
  <h3 class="comments-title">3 throughts on "{{title}}"</h3><!-- #comments-title -->

  <ol class="comment-list">
    
    <li class="comment byuser even thread-even depth-1">
			<article class="comment-body">
				<footer class="comment-meta">
					<div class="comment-author vcard">
						<img src="/{{themeslug}}/assets/images/avatar.png" class="avatar avatar-42 photo" height="42" width="42" loading="lazy">
            <b class="fn"><a href="#" class="url">John Doe</a></b>
            <span class="says">says:</span>
          </div><!-- .comment-author -->
					<div class="comment-metadata">
						<a href="#"><time datetime="{{date}}:46+01:00">{{date}} at 2:25 am</time></a>
          </div><!-- .comment-metadata -->
        </footer><!-- .comment-meta -->
			  <div class="comment-content">
			    <p>Proin et risus sit amet quam posuere.</p>
	      </div><!-- .comment-content -->
      </article>
	  </li><!-- #comment-## -->

    <li class="comment byuser even thread-even depth-1">
			<article class="comment-body">
				<footer class="comment-meta">
					<div class="comment-author vcard">
						<img src="/{{themeslug}}/assets/images/avatar.png" class="avatar avatar-42 photo" height="42" width="42" loading="lazy">
            <b class="fn"><a href="#" class="url">Jane Doe</a></b>
            <span class="says">says:</span>
          </div><!-- .comment-author -->
					<div class="comment-metadata">
						<a href="#"><time datetime="{{date}}:46+01:00">{{date}} at 5:15 am</time></a>
          </div><!-- .comment-metadata -->
        </footer><!-- .comment-meta -->
			  <div class="comment-content">
			    <p>Mauris fermentum diam malesuada ligula.</p>
	      </div><!-- .comment-content -->
      </article>
	  </li><!-- #comment-## -->

    <li class="comment byuser even thread-even depth-1">
			<article class="comment-body">
				<footer class="comment-meta">
					<div class="comment-author vcard">
						<img src="/{{themeslug}}/assets/images/avatar.png" class="avatar avatar-42 photo" height="42" width="42" loading="lazy">
            <b class="fn"><a href="#" class="url">Joe Bloggs</a></b>
            <span class="says">says:</span>
          </div><!-- .comment-author -->
					<div class="comment-metadata">
						<a href="#"><time datetime="{{date}}:46+01:00">{{date}} at 7:25 pm</time></a>
          </div><!-- .comment-metadata -->
        </footer><!-- .comment-meta -->
			  <div class="comment-content">
			    <p>In vel quam in ipsum.</p>
	      </div><!-- .comment-content -->
      </article>
	  </li><!-- #comment-## -->
  
  </ol><!-- .comment-list -->

    {{> reginald/sections/comment-form}} 
</div>