<article class="post">
  <header class="entry-header">
    <h2 class="entry-title"><a href="/{{themeslug}}/category/{{toLowerCase category}}/{{slug}}">{{title}}</a></h2>

    <div class="entry-meta">
      <span class="entry-meta__author">
        <img alt="" src="/{{themeslug}}/assets/images/avatar.png" class="avatar avatar-40 photo" height="40" width="40" loading="lazy">
        <i class="far fa-user"></i><a href="#" aria-label="Author: {{author}}">{{author}}</a>
      </span>
      <span class="entry-meta__date"><i class="far fa-calendar-alt"></i><a href="/{{themeslug}}/category/{{toLowerCase category}}/{{slug}}" aria-label="Posted: {{date}}">{{date}}</a></span>
      <span class="entry-meta__categories"><i class="far fa-folder"></i><a href="/{{themeslug}}/category/{{toLowerCase category}}" rel="category tag">{{category}}</a></span>
    </div>
  </header>

  <a class="post-thumbnail" href="/{{themeslug}}/category/{{toLowerCase category}}/{{slug}}" aria-label="{{name}}">
    <img src="/{{themeslug}}/assets/images/{{slug}}.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="Featured Image" loading="lazy">
  </a>

  <div class="entry-content">
    <p>
      {{{@partial-block}}}
      <a class="read-more-link button" href="/{{themeslug}}/category/{{toLowerCase category}}/{{slug}}">Read more</a>
    </p>
  </div>
</article>